body {
  font-family: Arial, sans-serif;
  background-color: #dab1b1;
}

.app {
  text-align: center;
  padding: 30px;
}

input {
  padding: 8px;
  width: 80px;
  margin-bottom: 20px;
}

.tarjeta {
  background-color: white;
  width: 280px;
  margin: auto;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.tarjeta img {
  width: 130px;
}

header h1 {
  margin-bottom: 5px;
}

header p {
  margin-top: 0;
  margin-bottom: 20px;
}